# Ignore everything
./*
./*/

# But not these files...
!main.c
!sortAndSuffle.c
!sortAndShuffle.h
!insertArtistsAndSongs.c
!insertArtistsAndSongs.h
!createPlaylistAndTrack.c
!createPlaylistAndTrack.h
!printArtistsAndSongs.c
!printArtistsAndSongs.h

!./readme-resources/
!./readme-resources/*
